$border-radius: 5px;

$font-base: 15px;

$color-primary: var(--color-primary);
$color-light-cyan: var(--color-light-cyan);
$color-dark-cyan: var(--color-dark-cyan);
$color-darker-cyan: var(--color-darker-cyan);
$color-white: var(--color-white);
